{% extends "base.html" %}
{% block content %}

<h1>Welcome to Online Music Player</h1>
<br>
<p>Click <a href="/logout">here</a> to logout.</p>
<br>
<!--
<div class="container">
<h3>Add a Post!</h3>
<br>
<form class="form-message" role="form" method="post" action="/">
  {{ form.csrf_token }}
  <p>
    {{ form.title(placeholder="title") }}
    <span class="error">
      {% if form.title.errors %}
        {% for error in form.title.errors %}
          {{ error }}
        {% endfor %}
      {% endif %}
    </span>
  </p>
  <p>
  {{ form.description(placeholder="description") }}
    <span class="error">
      {% if form.description.errors %}
        {% for error in form.description.errors %}
          {{ error }}
        {% endfor %}
      {% endif %}
    </span>
  </p>
  <button class="btn  btn-lg btn-primary" type="submit">Post</button>
</form> -->
<strong><p>Click <a href="/upload" > here </a> to upload a song </a> </strong>
<!-- All posts -->
<!--<h3>Posts:</h3>
{% for post in posts %}
  <strong>Title:</strong> {{ post.title }} <br>
  <strong>Post:</strong> {{ post.description }} <br>
  <strong>Author:</strong> {{ post.author.name }} <br>
<br>
{% endfor %} -->

<!-- All Songs --> 
<audio   src="C:\Users\Vivek\Desktop\uploads\Songs.PK_01_-_Abhi_Toh_Party_Shuru_Hui_Hai.mp3"></audio>
<h3>Songs:</h3>
{% for song in songs %}
 <strong>{{ song }}</strong>
 <br>
  <audio controls id="a1" preload="auto" autoplay src={{ folder + '\\'+ song }} ></audio>
<br>
{% endfor %}

{% endblock %}