{% extends "base.html" %}
{% block content %}
<h1 align="center">Online Music Player</h1>
<a href="/" align="right" class="btn btn-info btn-lg">Home</a><span>&nbsp; &nbsp; &nbsp; &nbsp;</span> 
  <a href="/upload" align="right" class="btn btn-info btn-lg">Upload</a><span>&nbsp; &nbsp; &nbsp; &nbsp;</span> 
  <a href="/logout" align="right" class="btn btn-info btn-lg">Log out </a><span>&nbsp; &nbsp; &nbsp; &nbsp;</span> 
<br>
<h2>Welcome {{ username }} !!</h2>
<br>
<!--
<div class="container">
<h3>Add a Post!</h3>
<br>
<form class="form-message" role="form" method="post" action="/">
  {{ form.csrf_token }}
  <p>
    {{ form.title(placeholder="title") }}
    <span class="error">
      {% if form.title.errors %}
        {% for error in form.title.errors %}
          {{ error }}
        {% endfor %}
      {% endif %}
    </span>
  </p>
  <p>
  {{ form.description(placeholder="description") }}
    <span class="error">
      {% if form.description.errors %}
        {% for error in form.description.errors %}
          {{ error }}
        {% endfor %}
      {% endif %}
    </span>
  </p>
  <button class="btn  btn-lg btn-primary" type="submit">Post</button>
</form> -->
<!-- All posts -->
<!--<h3>Posts:</h3>
{% for post in posts %}
  <strong>Title:</strong> {{ post.title }} <br>
  <strong>Post:</strong> {{ post.description }} <br>
  <strong>Author:</strong> {{ post.author.name }} <br>
<br>
{% endfor %} -->

<!-- All Songs --> 
<h2>Playlist :</h2>
<!--<audio controls id="a1" preload="auto" autoplay src="\home\uploads\Songs.PK_01_-_Phatte_Tak_Nachna.mp3" muted="muted"></audio>  -->
{% for track in tracks %}
 <strong>{{ track.title }}</strong>
 <br>
 <br>
  <audio controls preload="auto" autoplay src="{{ track.uri }}" ></audio>  <strong>Uploaded by :</strong> {{ track.uploaded_by.name }} 
  <span>&nbsp; &nbsp;</span>
  <strong>Upvotes :</strong> {{ track.upvote }} <span>&nbsp; &nbsp;</span> <strong>Downvotes :</strong> {{ track.downvote }}
  <table>
  <tr>
  <td>
    <form action="/upvote" method="post">
    <input type="hidden" name="id" value="{{ track.id }}">
    <button type="submit" class="btn btn-success">Upvote</button>
    </form>
  </td>
  <td>
    <form action="/downvote" method="post">
    <input type="hidden" name="id" value="{{ track.id }}">
    <button type="submit" class="btn btn-danger">Downvote</button>
    </form>
  </td>
</tr>
</table>
<br>
<br>
{% endfor %}

{% endblock %}