{% extends "base.html" %}
{% block content %}
<h1 align="center">Online Music Player</h1>
<a href="/" align="right" class="btn btn-info btn-lg">Home</a><span>&nbsp; &nbsp; &nbsp; &nbsp;</span> 
  <a href="/upload" align="right" class="btn btn-info btn-lg">Upload</a><span>&nbsp; &nbsp; &nbsp; &nbsp;</span> 
  <a href="/logout" align="right" class="btn btn-info btn-lg">Log out </a><span>&nbsp; &nbsp; &nbsp; &nbsp;</span> 
<br>
<h2>Welcome {{ username }} !!</h2>
<br>
<!-- All Songs --> 
<!--<audio controls preload="auto" src="../static/uploads/Abhi_Toh_Party_Shuru_Hui_Hai.mp3"></audio> -->
<h2>Playlist :</h2>
{% for track in tracks %}
 <strong>{{ track.title }}</strong>
 <br>
 <br>
  <audio controls src="{{ track.uri }}" ></audio>  <strong>Uploaded by :</strong> {{ track.uploaded_by.name }} 
  <table>
  <tr>
  <td>
    <form action="/upvote" method="post">
    <input type="hidden" name="id" value="{{ track.id }}">
    <button type="submit" class="btn btn-success"><span class="glyphicon glyphicon-thumbs-up"></span> {{ track.upvote }} </button> 
    </form>
  </td>
  <td>
    <form action="/downvote" method="post">
    <input type="hidden" name="id" value="{{ track.id }}">
    <button type="submit" class="btn btn-danger"><span class="glyphicon glyphicon-thumbs-down"></span> {{ track.downvote }} </button>
    </form>
  </td>
</tr>
</table>
<br>
<br>
{% endfor %}

{% endblock %}