{% extends "base.html" %}
{% block content %}
	<a href="/" align="right" class="btn btn-info btn-lg">Home</a><span>&nbsp; &nbsp; &nbsp; &nbsp;</span>  
  <a href="/logout" align="right" class="btn btn-info btn-lg">Log out </a><span>&nbsp; &nbsp; &nbsp; &nbsp;</span> 
<br>
    <div class="container"> 
    <h2> Upload a song </h2>
    <form action="" method=post enctype=multipart/form-data calss="form-signin">
      <p><input type=file name=file >
      	<br>
         <input type=submit value=Upload class="btn btn-lg btn-primary">
    </form>

   </div>

{% endblock %}
    